@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');

@layer base {
    h1 {
        @apply text-white text-3xl font-bold md:text-[40px];
    }

    h2 {
        @apply text-[#152938] text-3xl font-bold md:text-[40px];
    }

    button {
        @apply text-white font-bold text-xl;
    }

    p {
        @apply font-bold
    }

}

@layer components {
    .active {
        @apply bg-[#304859] !important
    }

    .card {
        @apply flex items-center justify-center max-md:h-[72px] max-md:p-[42%] max-md:w-[72px] bg-[#304859] rounded-full
    }

    .card.flipped {
        @apply bg-[#BCCED9]
    }


}

* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}